
.dani {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: #012030;
}


.haches {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.dani h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #9AEBA3;
}

.dani h4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: small;
}

.dani form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #9AEBA3;
    border: 1px solid #ddd;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.dani label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

.dani input, select, textarea, button {
    width: 100%;
    margin-bottom: 20px;
    padding: 8px;
    border: 2px solid #012030;
    border-radius: 5px ;
}


.dani button {
    background-color: #13678A;
    color: #012030;
    font-size: 16px;
    cursor: pointer;
}

.dani button:hover {
    background-color: #45C4B0;
}