/* Colores:
#012030 Azul marino
#13678A Azul mas claro
#45C4B0 Verde azulado
*/
* {
    box-sizing: border-box;
  }
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    max-height: max-content;
    min-height: fit-content;
    
    
}

.flexbox{
    width: 1890px;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: normal;
    background-image: url(../img/fondo.png);
    background-repeat: no-repeat;
    background-size: cover;
    
    
}

.logomenu{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: stretch;
    justify-content: center;
    width: 100%;
    height: 150px;
    background-color: #012030;
    border-bottom: 5px white solid;
}

.verticalcontenido{
    display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  width: 98.3%;
  height: auto;
  max-height: 3000px;
  margin-top: 2%;
  
}
.menuhorizontal{
    width: 80%;
    height: 150px;
    display: flex;
    flex-direction: row;
    margin: auto;
    padding-left: 2%;
    justify-content: space-between;
    align-items: center;
    align-content: end;
    background-color: #012030;
}


.logo {
    width: 15%;

    height: 80%;
}
.logo img{
    max-width: 100%;
    height: 100%;
    border-radius: 70%;
    margin: auto;
    display: flex;
    justify-content: center;
}

.buscador {
    width: 70%;
    border: 3px white solid;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    

}

.buscador input{
    width: 100%;
    height: 100%;
    font-size: 30px
    
}

.buscador button{
    width: 10%;
    max-height: fit-content;
    font-size: 20px;
    font-weight: bold;
}

.buscador button:hover{
    background-color: #45C4B0;
    transition-duration: 500ms;
}
a{
    font-size: 25px;
    color: #45C4B0;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}
a:hover{
   color:#45C4B0 ;
    transition-duration: 300ms;
} 

a:visited{
    color:#45C4B0 ;
}

.formulario{
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    
    align-items: center;
}
.compraventa{
    width: 10%;
    
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login{
    width: 10%;
    max-height: 100%;
    height: 100%;
   
    display: flex;
    align-items: center;
    justify-content: center;
    a{
        font-size: 50px;
    }
    em{
        font-size: 30px;
    }
   

}

.menuvertical{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18%;
    margin-left: 2.7%;
    background-image: url(../img/fondo.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.categorias{
margin: auto;
background-color: #012030;
color: #45C4B0;
}
.categorias a{
    color: #45C4B0;
}


.categorias ul{
    list-style: none;
}

.categorias h1{
    font-size: 43px;
    text-decoration: underline;
}
.categorias a{
    font-size: 30px;
}
 .contenido{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 89.5%;
    height: auto;
    background-image: url(../img/fondo.png);
    background-repeat: no-repeat;
    background-size: cover;
    
    iframe{
        margin: auto;
        width: 100%;
        height: 100%;
    }
 }


.iniciodiv{
    width: 90%;
    margin: auto;
    margin-top: 2%;
    
}
 .inicio{
    font-size: large;
    font-weight: 500;

    
 }

 .componentes{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    height: 100px;
    margin-top: 5%;
    border-collapse: collapse;
    
    div{
        width: 20%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        text-align: center;
        color: white;
        border: 5px solid #012030 ;
        background-color: #012030;
        border-radius: 5px;
        margin-right: 1%;
    }
    
    }
    .componentes div:hover{
        
        border-collapse: collapse;
        transition-duration: 100ms;
    }

 .componentes a:hover{
    
 }

 .portatiles{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    height: 100px;
    margin-top: 5%;
    border-collapse: collapse;
div{
    width: 40%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        text-align: center;
        color: white;
        border: 5px solid #012030 ;
        background-color: #012030;
        border-radius: 5px;
        margin-right: 1%;
}
 }
 .portatiles a:hover{
    transform: scale(1.5);
 }
 .portatiles a{
    font-size: 40px;
 }

 .sobremesa {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    height: 100px;
    margin-top: 5%;
    border-collapse: collapse;
    div{
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        text-align: center;
        color: white;
        border: 5px solid #012030 ;
        background-color: #012030;
        border-radius: 5px;
        margin-right: 1%; 
    }
 }

 .sobremesa a:hover{
    transform: scale(1.7);
 }

 .cartitas{
height: max-content;
display: flex;
    justify-content: space-between;
    margin: auto;
    width: 90%;
    flex-direction: row;
    height: auto;
  color: white;
  margin-top: 5%;
    
 }
 .card{
    width: 400px;
    aspect-ratio: 1 , 0.7;
    border-radius: 8px;
    position: relative;
    height: 400px;
 }

 .card .imagen img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    transition: 0.5s ease-in-out;
 }

 .card::after{
    content: "";
    position: absolute;
    inset: 0;
    border: 2px solid white;
    border-radius: inherit;
    opacity: 0;
    transition: 0.4s ease-in-out;
 }
 .card:hover img {
    filter: grayscale(1)
    brightness(0.4);

 }

 .card:hover::after {
    opacity: 1;
    inset: 20px;
 }

 .card:hover .textocarta h2 {
    scale: 1;
    opacity: 1;
 }

 .textocarta h2 {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
    transition: 0.4s 0.3s ease;
    margin-bottom: 12px;
    scale: 0.7;
 }
 .loginadri {
    background: linear-gradient(135deg, #005f73,#7edcb8);
    font-size: large;
    justify-content: center;
    align-items: center;
    height: 100vh;
    display: flex;
    width: 100%;
    color: #45C4B0;
    margin: 0;
    position: relative; /* Para posicionar el selector de idiomas */
}

.Selector {
    position: absolute;
    top: 10px;
    right: 10px;
}

.selector select {
    padding: 10px;
    font-size: medium;
    background-color: rgba(62, 55, 55, 0.8);
    border: 1.5px solid #13678A;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

.container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: rgba(29, 26, 26, 0.864);
    border-radius: 25px;
    box-shadow: 0 4px 8px black;
    text-align: center;
    a{
        font-size: 20px;
    }
}

.container h1 {
    margin-bottom: 20px;
    color: #45C4B0;
}

.campo {
    background-color: rgb(62, 55, 55);
    padding: 0.5%;
    border-radius: 10px;
    border: 1.5px solid;
    margin-bottom: 15px;
}

.campo input {
    width: 95%;
    padding: 10px;
    font-size: 16px;
    border: none;
    background-color: transparent;
    color: #fff;
    outline: none;
}

.loginadri input[type="text"], input[type="email"], input[type="password"] {
    background-color: transparent;
    color: #fff;
    border: none;
    outline: none;
    width: 100%;
    padding: 10px;
    font-size: 16px;
}

.loginadri button {
    width: 100%;
    padding: 10px;
    background-color: #13678A;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: large;
}

.loginadri button:hover {
    background-color: #45C4B0;
}


#volver {
    font-size: 10px;
}


.dani {
    background-color: #012030;
    height: 1200px;
}


.haches {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.dani h1 {
    
    color: #9AEBA3;
}

.dani h4 {
    
    color: white;
    font-size: small;
}

.dani form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #9AEBA3;
    border: 1px solid #ddd;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.dani label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

.dani input, .dani select, .dani textarea, .dani button {
    width: 100%;
    margin-bottom: 20px;
    padding: 8px;
    border: 2px solid #012030;
    border-radius: 5px ;
}


.dani button {
    background-color: #13678A;
    color: #012030;
    font-size: 16px;
    cursor: pointer;
}

.dani button:hover {
    background-color: #45C4B0;
}

.compraventareparacion {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    height: 100px;
    margin-top: 5%;
   
    div{
        width: 33%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        text-align: center;
        color: white;
        border: 5px solid #012030 ;
        background-color: #012030;
        border-radius: 5px;
        margin-right: 1%; 
    }
}

.compraventareparacion a{
    font-size: 40px;
}
.compraventareparacion h1:hover{
    transform: scale(1.5);
    transition-duration: 0.3s;
 }