/* Colores:
#012030 Azul marino
#13678A Azul mas claro
#45C4B0 Verde azulado
*/

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(19, 103, 138, 0.3);
}

.flexbox{
    width: 1900px;
    height: auto;
    margin: auto;
    background-color: rgb(128, 128, 128, 0.1);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: normal;
}

.logomenu{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: stretch;
    width: 95%;
    height: 150px;
    background-color: rgb(255, 192, 203, 0.2);
    margin-left: 2.5%;
    border: 7px white solid;
    border-radius: 5px;
}

.verticalcontenido{
    display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  width: 98.3%;
  background-color: rgb(173, 216, 230, 0.3);
  height: auto;
  max-height: 3000px;
  margin-top: 1%;
}
.menuhorizontal{
    width: 80%;
    height: 150px;
    border-left: white 14px solid;
    display: flex;
    flex-direction: row;
    margin: auto;
    padding-left: 2%;
    justify-content: space-between;
    align-items: center;
    align-content: end;
}


.logo {
    width: 15%;

    height: 100%;
}
.logo img{
    max-width: 100%;
    height: 100%;
    border-radius: 70%;
    margin: auto;
    display: flex;
    justify-content: center;
}

.buscador {
    width: 70%;
    border: 3px white solid;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    

}

.buscador input{
    width: 100%;
    height: 100%;
    font-size: 30px
    
}

.buscador button{
    width: 10%;
    max-height: fit-content;
    font-size: 20px;
    font-weight: bold;
}

.buscador button:hover{
    background-color: #45c4b0;
    transition-duration: 500ms;
}
a{
    font-size: 25px;
    color: #012030;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}
a:hover{
   color:#13678A ;
    transform: scale(1.1);
    transition-duration: 300ms;
} 

a:visited{
    color:#13678A ;
}

.formulario{
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    
    align-items: center;
}
.compraventa{
    width: 10%;
    
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login{
    width: 10%;
    max-height: 100%;
    height: 100%;
   
    display: flex;
    align-items: center;
    justify-content: center;
    a{
        font-size: 50px;
    }
    em{
        font-size: 30px;
    }
   

}

.menuvertical{
    display: flex;
    align-items: normal;
    justify-content: left;
    width: 18%;
    border: 7px white solid;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-collapse: collapse;
    margin-left: 2.7%;
}
.categorias{
margin: auto;
}
.categorias a{
    color: black
}
.categorias a:hover{
    color:#13678A ;
    transform: scale(1.1);
    transition-duration: 300ms;
}
.categorias h2:hover{
    transform: scale(1.1);
    transition-duration: 300ms;
}
.categorias ul{
    list-style: none;
}

.categorias h1{
    font-size: 50px;
}
.categorias a{
    font-size: 30px;
}
 .contenido{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 89.5%;
    border: 7px white solid;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-collapse: collapse;
    height: auto;
    iframe{
        margin: auto;
        width: 100%;
        height: 100%;
    }
 }


.iniciodiv{
    width: 90%;
    margin: auto;
    margin-top: 2%;
}
 .inicio{
    font-size: large;
    font-weight: 500;

    
 }

 .componentes{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    height: 150px;
    border: 4px solid white;
    border-radius: 5px;
    border-collapse: collapse;
    div{
        width: 20%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        text-align: center;
        border-collapse: collapse;
        border: 2px solid white;
    }
    
    }
    div:hover{
        
        border-collapse: collapse;
        transition-duration: 100ms;
    }

 .componentes a:hover{
    transform: scale(1.1);
 }

 .portatiles{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    height: 150px;
    border: 4px solid white;
    border-radius: 5px;
    border-collapse: collapse;
div{
    width: 40%;
    height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        text-align: center;
        border-collapse: collapse;
        border: 2px solid white;
}
 }
 .portatiles a:hover{
    transform: scale(1.5);
 }

 .sobremesa {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    height: 150px;
    border: 4px solid white;
    border-radius: 5px;
    border-collapse: collapse;
    div{
        width: 50%;
        height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
            text-align: center;
            border-collapse: collapse;
            border: 2px solid white; 
    }
 }

 .sobremesa a:hover{
    transform: scale(1.7);
 }